/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @import '../styles/web/sass/app/_custom-variables';
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   theme\web\custom-variables.scss 2:9                          @use
 *   C:\Users\ockert\dev\mdx\mod\rnv906\deployment\main.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   ,\a 2 | @import '../styles/web/sass/app/_custom-variables';\a   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   '\a   theme\\web\\custom-variables.scss 2:9                          @use\a   C:\\Users\\ockert\\dev\\mdx\\mod\\rnv906\\deployment\\main.scss 1:1  root stylesheet";
}
